@media screen and (max-width:1280px){
    /* .logo{
        width: 100px;
    }
    .header-logo__title {
        margin-left: 127px;
    }
    .header-logo__title h2{
        font-size: 12px;
    }
    .header-logo__title h1{
        font-size: 20px;
    } */

      /* slide pvc index */

    .slider-pvc__h1{
        font-size: 44px;
    }
    .slider-pvc__text-p{
        font-size: 26px;
        top: 0;
    }
    .slider-pvc__container{
        margin-top: 60px;
    }
}

@media screen and (max-width:1030px){
    .slider-drywall--background img {
        height: 100%;

    }
    .slider-drywall--details p {
        font-size: 25px;
    }
    .slider-pvc p {
        font-size: 17px;
    }
    .slider-pvc p img{
        width: 30px;
    }

    .slider-pvc__container{
        margin-top: 30px;
    }

    .slide-container__logo{
        display: none;
    }

    .slider-exterior--details h1 {
        font-size: 24px;
        margin: 30px 80px 30px;
    } 

    .header-logo__title--importer {
        font-size: 12px;
        width: 120px;
    }
    .header-logo__title--title{
        font-size: 14px;
    }

    .header-logo__search{
        width: 233px;
    }
    .logo-section {
        height: 100%;
        padding-bottom: 20px;
    }

    .card-container {
        width: 100%;
    }

    .slider-pvc h1 {
        font-size: 30px;
    }

    .slider__details--text p {
        margin: 6px 0;
        width: 300px;
    }

}

/* Tablet */

@media screen and (max-width:800px){
    .slide-circle {
        width: 16%;
        z-index: 3000;
    }
    .slider-exterior--details  {
        width: 400px; 
    }  
    .slider-exterior--details h1 {
        font-size: 21px;
        width: 90%;
        margin: 30px;
        text-align: center;
    }
    .slider-drywall--details p {
        font-size: 20px;
    }

    .header-logo__shop img {
        width: 79px;
    }

    .header-logo__logo img {
        left: 0;
    }

    .logo-section__icon-nav div a{
        width: 190px;
    }

    .section-paint {
        width: 100%;
        height: 450px;
        background: linear-gradient(270deg, rgba(91, 39, 142, 0.85) 0%, rgba(14, 62, 72, 0.6035) 86.6%);
        display: flex;
        text-align: center;
        margin: 0;
    }
    .section-paint__text{
        margin: auto;
        left: 0;
        width: 88%;
        text-align: center;
        

    }
    .section-paint__text p{
        color: white;
    }

 /* slide pvc index */
    .slider-pvc__h1{
        font-size: 30px;
    }
    .slider-pvc__text-p{
        font-size: 24px;
    }
    .slider-pvc__container{
        margin-top: 10px;
    }


    .main h1{
        font-size: 24px;
    }
}





/* Dispositivo tablet */

@media screen and (max-width:700px){
    .header-logo__title {
        margin: 36px 0 0 auto;
    }
    
    .header-logo__title--importer {
        font-size: 10px;
    }
    .header-logo__title--title {
        font-size: 10px;
        text-align: center;
        margin-top: 10px;
    }
    .header-nav__navigation--ol li {
        font-size: 13px;
    }
    .header-nav__social {
        left: 0;
    }
    .header-nav__social img {
        margin-right: 0;
    }
    .header-nav__social img:nth-child(2) {
        width: 25px;
        margin: 0 40px;
    }

    .card-background {
        width: 200px;
    }
    .tajet--transport img {
        width: 190px;
        padding-bottom: 98px;
        position: relative;
        top: 48px;
    }
}

/* Dispositivo movil */

@media screen and (max-width:700px){
    .menu{
        display: block;
    }
    .menu-log__tittle{
        margin-top: 80px;
        position: relative;
        left: 28px;
    }
    .header-logo__menu--button{
        display: block;
    }
    .header-logo__menu {
        display: block;
    }
    .header-logo__search {
        display: none;
    }
    .header-nav{
        display: none;
    }

    .slider-arrow {
        width: 80%;
    }

    /* slide Drywwall */
    .slider-drywall--background{
        height: 100%;
    }
    .slider-drywall--details{
        height: 100%;
        position: relative;
        bottom: 400px;   
        background: linear-gradient(269.73deg, #1A1C19 -0.58%, #5c585157 58.61%);
    }

    .slider-drywall{
        display: block !important;
    }
    .slider-exterior__background--img {
        position: absolute;
        bottom: 0px;
        filter: brightness(0.5);
    }

    .slider-exterior--details {
        z-index: 100;
        width: 200%;
        height: 100%;
        background-color: transparent;
        color: #fff;
    }

    .slider-exterior--details-p {
        margin: auto;
    }
    .slider-exterior--details p {
        padding-left: 15px;
    }
    .slider-exterior--details button{
        bottom: 20px;
    }

    .slider-arrow{
        top: 260px;
    }
    .slide-circle{
        top: 343px;
    }

     /* tarjetas */

    .card2{
        display: none;
    }

    .section-paint__text h2 {
        font-size: 80px;
    }

     /* footer */

    .footer-contain{
        grid-template-columns: 1fr 1fr;
    }

    /* pvc index */
    .slider-pvc{
        grid-template-columns: 1fr;
    }
    .slider__details{
        z-index: 100;
    }
    .slider__details h1{
        color: white;
    }
    .slider__details h1 b{
        color: #F49300;
    }

    .slider__details--text{
        margin-left: 53px;
    }
    .slider__details--text p{
        margin-top: 13px;
        color: white;
        font-weight: bold;
    }
    
    .slider-pvc--background1 {
        background-image: url("../img/Background/pvc-madera-brillante-armario.jpg");
        height: 70%;
        width: 100%;
        background-size: cover;
        position: absolute;
    }

    /* index Pnturas */

    .slider-pinturas{
        grid-template-columns: 1fr;
    }
    .slider-pinturas--background1{
        display: none;
    }
    .slider-pinturas__detail--text{
        width: 80%;
    }

    /* estucos y acabados */


    .section-estucoYacabados--img h1{
        font-size: 40px;
    }
    .section-estucoYacabados-detail p{
        font-size: 22px;
    }



}

@media screen and (max-width:600px){
    .fade{
        grid-template-columns: 1fr;
    }

    .slider-exterior--details{
        width: 100%;
    }

    .logo-section__logo img{
        width: 350px;
    }
    .logo-section__icon-nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "header header"
        "main main ";
    }
    .logo-section__icon-nav--pvc{
        grid-area: main;
    }
    .logo-section__icon-nav--pvc a{
        margin-top: 20px;
    } 

      /* slide pvc index */

      .slider-pvc-index{
        grid-template-columns: 1fr;
    } 
    .slider-pvc__text{
        z-index: 2000;
        width: 80%;
    }
    .slider-pvc__h1{
        font-size: 35px;
    }
    .slider-pvc__text-p{
        top: 30px;
        font-size: 20px;
    }
    .slider-pvc__container{
        margin-top: 120px;
    }

    .slider-pvc__background{
        background-image: url(../img/Background/background-pvc-black\ 1.jpg);
        position: absoulte;
        z-index: 100;
        position: absolute;
        height: 105%;
        background-position: center;
        background-size: cover;
    }

    .footer__log {
        display: none;
    }

    /* index pvc */

    .side{
        display: none;
    }
    
    /* estucos y acabados index */

    /* .section-estucoYacabados--img__estuco li{
        font-size: 20px;
        margin: auto;
    } */
}

@media screen and (max-width:400px){
    /* header */
    .header-logo__menu--button--menu{
        width: 40px;
        margin-top: 4px;
    }
    
    .header-logo__logo img {
        width:  70px;


    }
    .header-logo__shop img {
        width: 64px;
    }
  
    .header-logo__shop--accountant {
        width: 20px;
        height: 20px;
    }
    .header-logo__title--importer {
        font-size: 7px;
        width: 77px;
    }
    .header-logo__title--title {
        font-size: 7px;
    }

/* slide drywall */
    .slider-drywall--background {
        height: 83%;    
    }

 /* slide pvc index */

    .slider-pvc__h1{
        font-size: 40px;
    }
    .slider-pvc__text-p{
        font-size: 25px;
    }
    .slider-pvc__container{
        margin-top: 60px;
        width: 150px;
    }
    .slider-pvc__background{
        height: 100%;
    }

    .slide-circle {
        top: 380px;
        width: 27%;
    }
    .slider-arrow {
        top: 315px;
    }

    /* secction card */
    .card{
        height: 1100px;
        padding-top: 50px;
    }
    .card2 {
        display: block;
    }
    .card-container {
        width: 100%;
        display: grid;
    }
    .card-background {
        width: 80%;
        margin-top: 20px;
    }

    /* slide */

    .slider-arrow {
        width: 74%;
    }

    .fade{
        height: 480px;
        grid-template-columns: 1fr;
    }

    /* logo seccion */
    
    .logo-section__title h1{
        font-size: 70px;
    }
    .logo-section__icon-nav div a {
        width: 150px;
        font-size: 20px;
        margin-bottom: 34px;
    }
    .logo-section__icon-nav div img{
        width: 140px;
    }
    
    /* pinturas */

    .section-paint__text h2 {
        font-size: 60px;
    }
    .section-paint__text p {
        font-size: 28px;
    }

    /* footer section */

    .footer-contain{
        display: block;
    }

    .footer__log--img {
        width: 145px;
    }
    .footer--credits {
            display: flex;
            margin: 10px auto;
    }
    .footer--credits__container img:hover {
        width: 50px;
    }
  
    .footer--nav {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 90px 90px 90px;
        grid-template-rows: none;
        place-items: center;
    }
    .instagram {
        position: relative;
        left: 0px; 
    }

    
    /* estucos y acabados */


    .section-estucoYacabados--img h1{
        font-size: 30px;
        left: 44px;
    }
}

@media screen and (max-width:350px){
    .slider-arrow__left {
        width: 50px;
        height: 50px;
    }
    .slider-arrow__right {
        width: 50px;
        height: 50px;
    }


    .logo-section__logo img{
        width: 270px
    }
}