*{
    margin: 0 auto;
    padding: 0 auto;
}
html{
    font-family: 'Open Sans', sans-serif;
}

body{
    overflow-x: hidden;
}

:root{
    /* colors */
    --blue: #2928A3;
    --watermelon: #FF4757;
    --watermelon-soft: #ff6e7a;
    --quince-jelly: #F0932B;
    --white: #ffff;
    --white-soft: #dddd;
    --black: #000;
}
/* menu desplegable con el boton */

.menu{
    position: absolute;
    z-index: 4000;
    width: 88%;
    height: 110%;
    background-color: #1E272E;
    box-shadow: 120px 4px 0px rgba(0, 0, 0, 0.73);
    border-radius: 3px;
    top: -5px;
    transition: all .6s ease;
    display: none;
}
.menu a{
    font-size: 30px;
    text-decoration: none;
    color: var(--white);
    position: relative;
    left: 30px;
    top: 30px;
}
.menu-nav__ol{
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}
.menu-nav__ol li a{
    font-size: 30px;
}
.menu-log{
    display: flex;
    align-items: center;
}

/* .menu-log__logo a img{
    position: relative;
    left: 40px;
    bottom: 70px;
} */

.menu-log__tittle{
    color: var(--white);
    margin-top: 65px;
}

.menu-close{
    background-color: transparent;
    border: none;


}
.menu-close img {
    margin-top: 60px;
    position: relative;
    left: 40px;
}
.active{
    transform: translate(-900px);
}

/* header */
.header{
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    position: sticky;
    top: 0;
    z-index: 1020;
    transition: all 900ms;
    filter: drop-shadow(3px 10px 4px rgba(0, 0, 0, 0.27));
}
.header-logo__menu{
    display: none;
}
.header-logo__menu--button{
    background-color: transparent;
    border: none;
    margin-top: 25px;
    display: none;
}
.header-logo__menu--button:active{
    transform: scale(1.1);
}



.header--scroll-down {
    transform: translateY(-100%);
    opacity: 0;
}

.header--scroll-up {
    top: 0;
    opacity: 1;
}
.header-transform .header-logo{
    transform: translateY(-100%);
    /* opacity: 0; */
    
}

.header-logo{
    padding: 0 10px;
    display: flex;
}

.header-logo__logo img{
    width: 130px;
    height: 90px;
    cursor: pointer;
    position: relative;
    left: 18px;

}
.header-logo__title{
    margin: 30px 0 0 auto;
}
.header-logo__title--importer{
    text-align: center;
    width: 150px;
    background-color: var(--watermelon);
    border-radius: 2px;
    font-size: 12px;
}
.header-logo__title--title{
    white-space: 5px;
    position: relative;
    bottom: 8px;
    font-size: 16px;
}



/*El header-logo seccion superior. El buscador */

.header-logo__search{
    background-color: var(--white);
    width: 333px;
    height: 33px;
    margin-top: 27px;
    border-radius: 4px;
    display: flex;

}

.header-logo__search input {
    width: 100%;
    border: none;
    height: 90%;
}
.header-logo__search input:focus {
    outline: none
}

.header-logo__search--lup img{
    width: 25px;
    margin: 4px;
}


/*El header-logo seccion superior. El carrito de compras */

.header-logo__shop{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-self: center;
}
.header-logo__shop--accountant{
    width: 30px;
    height: 30px;
    background-color: var(--watermelon);
    border-radius: 50%;
    display: grid;
    place-content: center;
    position: relative;
    right: 18px;
    top: 10px;

}
.header-logo__shop img{
    width: 110px;
}

/* seccion de navegación del header */

.header-nav{
    width: 100%;
    display: flex;
    border-top: 3px solid #D7CECE;
    padding-top: 25px;
}
.header-nav__navigation{
    display: flex;
    width: 100%;
}

.header-nav__navigation--ol{
    display: flex;
    list-style: none;
    width: 100%;
}

.header-nav__navigation--ol li a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.header-nav__navigation--ol-border{
    border: solid var(--watermelon) 3px;
    border-radius: 3px;
    padding: 8px;
}

/* header redes sociales  */

.header-nav__social{
    width: 100%;
    display: flex;
    position: relative;
    bottom: 11px;
}
.header-nav__social img{
    width: 60px;
}
.header-nav__social img:nth-child(2){
    width: 25px;
}


/* empieza la sección de el slide con animación */

.slide{
    height: 100%;
    width: 100%;
    position: absolute;
}

.slider-drywall {
    width: 100%;
}
.slider-drywall--background{
    width: 100%;

}
.slider-drywall--background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-epoxi {
    /* display: block !important; */
}
.slider-epoxi--background {
    background-image: url("../img/Background/Banner_Pag_Nuevo_Epoxi_Acryl.jpg");
    width: 200%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-pintura--background img{
    width: 100%;
    object-fit: cover;
}
.slider-drywall--details{
    background: linear-gradient(269.73deg, #1A1C19 -0.58%, #5C5851 58.61%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffff;
}
.slider-drywall--details h1{
    margin-top: 60px;
    font-size: 40px;
}
.slider-drywall--details p{
    margin-top: 55px;
    width: 77%;
    font-size: 28px;
}
.slider-drywall--details button{
    width: 256px;
    height: 62px;
    margin: auto;
    position: relative;
    background: var(--watermelon);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
}
.slider-drywall--details button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.slider-drywall--details button a{
    text-decoration: none;
    color: var(--white);
}

.slider-exterior--background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.icon-check img{
    width: 40px;
    height: 40px;

}

.slider-exterior--details button a{
    text-decoration: none;
    color: var(--white);
}
.slider-exterior--details{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.slider-exterior--details h1{
    font-size: 38px;
    margin: 30px 100px 30px;
}

.slider-exterior--details-p{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.slider-exterior--details-p div{
    display: flex;
    margin: 20px 0;
}
.slider-exterior--details p{
    width: 100%;
    font-size: 20px;
    padding-left: 60px;
}
.slider-exterior--details button{
    width: 256px;
    height: 62px;
    margin: auto;
    position: relative;
    background: var(--watermelon-soft);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    font-family: 'Inter', sans-serif;
}
.slider-exterior--details button:hover{
    cursor: pointer;
}
.fade{
    animation-name: fade;
    animation-duration: .5s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 420px;
}
@keyframes fade{
    from {opacity: .4}
    to { opacity: 1}
}
/* index PVC */

.slider-pvc-index{
    display: flex;
    width: 100%;
    height: 420px;
    background-color: #000;
}
.slider-pvc__text{
    width: 70%;
    text-align: center;
    color: var(--white);

}
.slider-pvc__h1{
    font-size: 44px;
    font-weight: bold;
}
.slider-pvc__text-p{
    font-size: 26px;
    position: relative;
    top: 30px;
}
.slider-pvc__h1 b{
    color: var(--quince-jelly);
}
.slider-pvc__background{
    width: 100%;
    height: 100%;
    background-image: url("../img/Background/PVC-blanco-mate-lineas-1.jpg");
    background-repeat: no-repeat;
}
/* boton */
.slider-pvc__container{
    width: 250px;
    height: 40px;
    background-color: var(--watermelon);
    padding-top: 10px;
    margin-top: 120px;
    border-radius: 5px;
}
.slider-pvc__container--a{
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: var(--white);
}


/* flechas */

.slider-arrow{
    z-index: 100;
    width: 85%;
    position: relative;
    bottom: 15rem;
    display: flex;
    top: 200px;
}
.slider-arrow__left {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--white);
    position: relative;
    display: flex;
    right: 28%;
}
.slider-arrow__left img{
    display: flex;
    align-self: center;
}
.slider-arrow__left:hover{
    -webkit-box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}


.slider-arrow__right{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--white);
    margin-left: 50px;
    position: relative;
    display: flex;
    left: 28%;
}
.slider-arrow__right:hover{
    -webkit-box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 14px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}
.slider-arrow__right img{
    display: flex;
    align-self: center;
}

/* cicle bottom */

.slide-circle{
    display: flex;
    justify-content: center;
    position: relative;
    width: 10%;
    top: 290px;
}
.slide-circle--1,.slide-circle--2,.slide-circle--3:hover{
    cursor: pointer;
}
.slide-circle--1{
    width: 30px;
    height: 30px;
    background-color: var(--white-soft);
    border-radius: 50%;
}
.slide-circle--2{
    width: 30px;
    height: 30px;
    background-color: var(--white-soft);
    border-radius: 50%;
}
.slide-circle--3{
    width: 30px;
    height: 30px;
    background-color: var(--white-soft);
    border-radius: 50%;
}
.active-dot{
    background-color: var(--watermelon);
}

/* Navigation cards */
.card{
    background-color: #E9E3E1;
    height: 400px;
    margin-top: 310px;
}
.card-container{
    width: 70%;    
    margin: 30px auto;
    display: flex;

}
.card-background{
    width: 250px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-top: 50px;
}
.card-background h4{
    font-size: 18px;
    color: #6c6c6c;
    text-align: center;
}
.card-background:hover{
    cursor: pointer;
    transform: scale(1.02);
}
.tajet--transport img{
    width: 240px;
    display: flex;
    padding-bottom: 68px;
}
.card--smartphone img{
    width: 200px;
    display: flex;
}
.card--quality img{
    width: 200px;
    display: flex;
}

/* seccion de logo principal */

.logo-section{
    width: 100%;
    height: 800px;
    background-color: #8E8ECC;
}
.logo-section__title{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    font-family: 'Inter', sans-serif;
}
.logo-section__title h1{
    font-size: 80px;
    font-weight: bold;
    color: var(--white);
    text-align: center;
    position: relative;
    bottom: 40px;
}
.logo-section__title p{
    font-size: 22px;
    width: 50%;
    text-align: center;
    position: relative;
    bottom: 50px;
    color: var(--white);
    font-weight: 700;
}
.logo-section__logo img{
    width: 500px;
}

.logo-section__icon-nav {
    display: flex;
    margin-top: 40px;
}
.logo-section__icon-nav div a{
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: var(--white);
    width: 250px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
    border-radius: 5px;

}
.logo-section__icon-nav--drywall{
    display: flex;
    flex-direction: column;
}
.logo-section__icon-nav--drywall a{
    background-color: var(--blue);
}

.logo-section__icon-nav--eterboard{
    display: flex;
    flex-direction: column;
}
.logo-section__icon-nav--eterboard a{
    background-color: #F6636F;
}

.logo-section__icon-nav--pvc{
    display: flex;
    flex-direction: column;
}
.logo-section__icon-nav--pvc a{
    background-color: #F0932B;
}

/* seccion pinturas */

.section-paint{
    width: 100%;
    height: 450px;
    background-image: url("../img/Background/background-pinturas.jpg");
    background-repeat: no-repeat;
    background-position: right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #E4E5E9;
}
.section-paint__text{
    position: relative;
    left: 100px;
    margin-top: 20px;
}
.section-paint__text h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 134.455px;
    line-height: 163px;
    background: linear-gradient(90.41deg, #100fe9 9.41%, rgb(193 122 14 / 90%) 67.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.section-paint__text p{
    font-size: 33px;
    font-weight: 700;
    color: #6d6c6c;
    font-family: 'Inter', sans-serif;
}
.section-paint__text p b{
    color: var(--quince-jelly);
}

.section-paint__picture{
    margin-top: 30px
}

.section-paint__picture img{
    width: 100%;

}
/* Footer*/

.footer{
    width: 100%;
    height: 100%x;
    background-color: #E9E3E1;
    margin-top: -19px;
}
.footer-contain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding-top: 10px;
}
.footer h1{
    font-size: 27px;
    text-align: center;
    position: relative;
    top: 47px;
    color: #3e4949;
}
.footer--nav{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 130px 130px;
    grid-template-rows: 130px 130px;
    place-items: center;

}
.footer--nav li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer--nav li img{
    cursor: pointer;
    width: 45px;
}
.facebook {
    width: 20px;
    height: 80px;
}
.instagram{
    position: relative;
    left: 70px;
}
.footer__log {
    display: flex;
    flex-direction: column;
    color: var(--blue);
 
}
.footer__log--a{
    text-decoration: none;
    color: var(--blue);
}
.footer__log--img{
    width: 200px;
    margin: auto;
}

.footer--credits__container a{
    text-decoration: none;
}

.footer--credits__container p:hover{
    color: #100fe9;
}
.footer--credits__container img:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    
}


/* Estilos pagina PVC  */
/* slide */
.slider-pvc{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.slider-pvc h1{
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
}
.slider-pvc p{
    font-size: 17px;
    width: 100%;
}
.slider__details--text{
    display: flex;
    flex-direction: column; 
}
.slider__details--text p{
    margin: 16px 0;

}
.slider__details--text p i{
    margin: 20px 20px 0 0;
    position: relative;
    top: 11px;
}

.slider-pvc--background1{
    background-image: url("../img/Background/techo-pvc-terraza-cielo-raso-PVC-en.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* main y side */

.seccion-contain{
    width: 100%;
    display: flex;

}
.side{
    width: 30%;
}
.side__nav{
    margin-top: 59px;
}
.slide-container__logo{
    position: relative;
    top: 30px;
    left: 40px;
    display: flex;
}
.logo img{
    width: 166px;
    height: 70px;
    margin-top: 30px;
}
.header-logo__title--section{
    margin-left: 150px;
}
.header-logo__title--section h2{
    font-size: 15px;
    width: 130px;
    margin-top: 20px;
    color: var(--white);
    position: relative;
    top: 20px;
}
.header-logo__title--section h1{
    font-size: 25px;
}
.side__nav ol{
    display: flex;
    flex-direction: column;
    line-height: 4;
    padding: 0;
}
.side__nav ol li{
    list-style: none;
}
.side__nav ol li a{
    text-decoration: none;
    font-weight: 500;
    position: relative;
    top: 20px;
}
.side__nav ol li a:hover{
    color: #100fe9;
}
.main{
    width: 80%;
}
.main--pvc{
    color: var(--watermelon);
}
.main h1{
    margin: 88px auto;
    text-align: center;
    width: 80%;
}
.main h2{
    margin: 80px 0 40px 20px;
}

.main__section{
    margin-top: 100px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity; 
    margin-left: 10px;
}
.main__target-shop{
    -webkit-box-shadow: 10px 10px 0px 0px rgba(138,138,138,0.09);
    -moz-box-shadow: 10px 10px 0px 0px rgba(138,138,138,0.09);
    box-shadow: 10px 10px 0px 0px rgba(138,138,138,0.09);
    /* height: 425px; */
    padding: 40px 40px;
}

.main__target-shop h6{
    font-size: 18px;
    margin: 30px 0;
    font-weight: 500;
}

.icon-shop {
    width: 144px;
    height: 147px;
    object-fit: cover;
    display: flex;
}
.icon-shop:hover{
    cursor: pointer;
}
.icon-shop__estuco{
    object-fit: contain;
}

.main__target-shop--check{
    margin-top: 25px;
    display: flex;
    position: relative;
    right: 15px;
}
.main__target-shop--price{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 14px;
}


/* sección de pinturas */

.slider-pinturas{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.slider-pinturas--background1 img{
width: 100%;
height: 100%;
object-fit: cover;
}

.slider-pinturas__detail{
    height: 100%;
    width: 100%;
    background: linear-gradient(270deg, rgba(91, 39, 142, 0.85) 0%, rgba(14, 62, 72, 0.6035) 86.6%);
}
.slider-pinturas__detail h1{
    font-size: 30px;
    text-align: center;
    margin-top: 65px;
    color: var(--white-soft);
}
.slider-pinturas__detail li {
    list-style: none;
    margin: 30px 20px;
}
.slider-pinturas__detail li p{
    color: var(--white-soft);
    padding-left: 16px;
}

.slider-pinturas__detail li div b{
    color: var(--black);
}
.slider-pinturas__detail img{
    width: 15px;
    margin-top: 4px;
    position: relative;
    top: 15px;
}

.main--pinturas{
font-weight: 900;
font-size: 33px;
line-height: 45px;
text-align: center;

background:  linear-gradient(90.22deg, rgba(122, 237, 8, 0.72) 1%, rgba(63, 17, 160, 0.79) 73.1%, #FF0000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

/* seccion estilos drywall */
.section-drywall{
    width: 100%;
}
.section-drywall h1{
    font-size: 90px;
    position: relative;
    top: 50px;
    text-align: center;
    color: var(--white);
    margin: auto;

    background: linear-gradient(269.49deg, #BA4968 88.44%, rgba(66, 67, 57, 0.72) 92.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-drywall--img{
    height: 500px;
    background-image: url("../img/Background/drywall-person.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-drywall__img--estuco{
    font-size: 32px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.section-drywall__img--estuco li{
    list-style: none;
    line-height: 60px;
    list-style: none;
    color: var(--white);
    margin: 0;
    /* margin-left: 10px; */
}

.section-drywall__img--estuco img{
    margin-right: 15px;
    position: relative;
    top: 15px;
}

/* estucos y acabados .html */

.section-estucoYacabados{
    width: 100%;
    background-color: #b6b6b4;
}

.section-estucoYacabados--img{
    width: 100%;
    height: 444px;
    background-image: url("../img/Background/image-lamp-clock.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.section-estucoYacabados--img h1{
    font-size: 67px;
    color: var(--white);
    position: relative;
    left: 100px;
    top: 40px;
    display: inline;
    
}

.section-estucoYacabados--img__estuco {
    margin-top: 80px;
    font-size: 32px;
    /* display: grid;
    grid-template-columns: 1fr; */

}
.section-estucoYacabados-detail {
    line-height: 60px;
    color: #9E8370;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-estucoYacabados-detail p{
    margin: 0;
}
.brown-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9e8370;
    margin: 0;
}
/* .section-estucoYacabados--img__estuco :nth-child(1){
    margin-left: -70px;
}
.section-estucoYacabados--img__estuco :nth-child(2){
    margin-left: -20px;
}
.section-estucoYacabados--img__estuco :nth-child(3){
    margin-left: 30px;
}
.section-estucoYacabados--img__estuco :nth-child(4){
    margin-left: 70px;
} */